body, html {
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#003366;
}

.pimg1, .pimg2, .pimg3, .pimg4{
  /* z-index: 0; */
  position:relative;
  opacity: 0.7;
  /* background: rgba(0,0,0,0.7); */
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
}

#overlay  {
height:100%;
width: 100%;
background: rgba(198, 235, 198,1);
position: fixed;
left: 0;
top: 0;
z-index: 3;
display:flex;
align-content: center;
align-items: center;
flex-direction: column;
justify-content: center;
}

.spinner{
    width: 80px;
    height: 80px;
    border: 2px solid #f3f3f3;
    border-top:3px solid #f25a41;
    border-radius: 100%;

    /* position: absolsute; */
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}



#org1 {
background-image:url('http://static1.squarespace.com/static/566c37f2a976afcb5480fe1a/t/56a19ab71a5203cff0c1fe29/1534307982804/?format=1500w');
}

.pimg1{
  /* background: rgba(0, 0, 0, 0.7); */
  background-image:url('../img/hongkong.jpg');
  /* background-color: rgba(0,0,0,0.7); */
  min-height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}


.pimg2{
  background-image:url('../img/image2.jpg');
  min-height:400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pimg3{
  background-image:url('../img/image3.jpg');
  min-height:400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.pimg4{
  background-image:url('../img/bio.jpg');
  /* background: white; */
  min-height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.loading {
  max-width: 50%;
  line-height: 1.4;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}
.loading__author {
  font-weight: normal;
  font-size: 0.9rem;
  color: rgba(189,189,189 ,1);
  margin: 0.6rem 0 2rem 0;
  display: block;
}
.bioRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

.bioImage {
  margin: 1vh;
  /* height: 30vh;
  width: 30vh; */
}
.bioImage > img{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  height: 30vh;
  width: 30vh;
}
.iconHolder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: baseline;
}

.iconWrapper  {
  width: 7em;
  height: 7em;
  border-radius: 50%;
  background: rgb(198, 235, 198);
  margin: 1.5vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
    font-family:"Lato", sans-serif;
    z-index: 3;
 position: fixed; top: 0;
   width: 100%;
  list-style-type: none;
  /* margin: 5vh; */
  padding: 5vh;
  /* overflow: hidden; */
    text-decoration: none;
}

li {
    float: right;
      text-decoration: none;
    /* background-color: rgba(255, 255, 255, 1.0); */
}

li a {
    color:#000;
    text-decoration: none;
    /* background-color: rgba(255, 255, 255, 0.7); */
    background-color: rgba(198, 235, 198, 0.7);

    z-index: 1;
    display: block;
    padding: 8px;

    /* background-color: #dddddd; */
}
li a:hover {
    text-decoration: none;
    background-color: #555;
    color: white;
}

.bioRight {
  position: absolute;
  right: 0;
  z-index: 2;
  width:50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bioLeft  {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  width:50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}



.portraitWrapper{
  position: absolute;
  z-index: 2;
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portrait {
  /* position:absolute; */
  width:100%;
  height: 100%;
    /* Add shadows to create the "card" effect */
    /* background-color: rgba(0, 0, 0, 1.0);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8); */
    transition: 0.3s;
    width: 27vw;
    height: 27vw;
    border-radius: 50%;
    margin: 30px;
}



.portrait > img {
  /* display: block; */
  height: inherit;
  width: inherit;
  border-radius: 50%;
}

.portrait:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.portraitSection {
    /* z-index: 1; */
  display: flex;
  justify-content: center;
}

.section{
  text-align:center;
  padding:50px 80px;
}

.section-light{
  /* background-color:#f4f4f4; */
  color:#666;
}

.section-dark{
  background-color:#282e34;
  color:#ddd;
}

.ptext{
  /* position:absolute; */
  /* top:50%;
  width:100%; */
  /* background-color: rgba(0, 0, , 0.7); */
  align-content: center;
  text-align:center;
  color:#003366;
  font-size:2vw;
  letter-spacing:8px;
  text-transform:uppercase;
  /* padding-top: 5vh; */
  padding-bottom:5vh;
}

.para {
  margin-top: 2.5vh;
  margin-left: 15vw;
  margin-right:15vw;
}

.title  {
    font-size:30px;
    /* letter-spacing:5px; */
}

.shortLine  {
  padding-top: 1vh;
  margin: auto;
  border-bottom: 3px rgb(198, 235, 198) solid;
  max-width: 50px;
  justify-content: center;
}



.titlePic{
  text-transform:uppercase;
  position:absolute;
  top:2.5vh;
  /* margin: auto; */
  /* position:absolute; */
  width:100%;
  text-align:center;
  /* color:#000; */
  font-size:27px;
  letter-spacing:8px;
}
.text{
  padding-top: 5vh;
  /* position:absolute; */
  width:100%;
  text-align:center;
  color:#003366;
  font-size:1.2vw;
  letter-spacing:8px;
}

.loadingText {
  width: 100%;
  font-size: 1.2vw;
  text-align: center;
  letter-spacing: 8px;
}

.opaqueBackground{
  /* background-color: rgba(255, 255, 255, 0.3); */
  background-color: rgba(198, 235, 198, 0.5);
)
  /* z-index: -1; */
}

.textFloat{
  /* padding-top:25vh; */
  /* position:absolute; */
  /* top:40%;
  width:100%; */
  text-align:center;
  color:#000;
  font-size:16px;
  letter-spacing:8px;
}

.bgOpacity  {
  background: rgba(0,0,0,0.5);
}



.ptext .border{
  background-color:#111;
  /* opacity: 0.7; */
  color:#fff;
  padding:2vh;
  margin: 20px;
  /* background-color: rgba(0, 0, 0, 0.7); */
  /* background-color: rgba(6.7, 6.7, 6.7, 0.7); */
}

.border2{
  background-color:#111;
  color:#fff;
  padding:1vh;
  margin: 20px;
  /* background-color: rgba(6.7, 6.7, 6.7, 0.7); */
}

.ptext .border.trans{
  background-color:transparent;
}

.ptext .border.move{
  position:relative;
  background-color:transparent;
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
}


/* CARD STYLING */
.cardHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  /* margin-bottom: 2vh; */

}

.orgcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* margin-top: 10vh; */
  margin-bottom: 2vh;
}

.orgcontainer a {
  /* margin: auto; */
}

.card {
    /* Add shadows to create the "card" effect */
    /* animation: scale-in-center 0.4s; */
    /* animation-name:fopa scale-up-ver-center; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    transition: 0.3s;
    width: 40vh;
    margin: 2.5vw;
}

.icon-info  {
  display: flex;
  flex-direction: row;
}

.info {
  display: flex;
  flex-direction: column;
}


.projectCard {
    text-decoration: none;
    align-content: center;
    text-align: center;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 4px 8px 0;
    transition: 0.3s;
    width: 50vh;
    margin: 2.5vw 5vw 2.5vw 5vw;
}

.projectCard a:hover{
  text-decoration: none;
  color: black;
}

.scale-up-ver-center {
	-webkit-animation: scale-up-ver-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-ver-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.projectCard a  {
  text-decoration: none;
  color: black;
}



.akpCard {
    /* Add shadows to create the "card" effect */
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    width: 28.97vw;
    height: 11vw;

    /* border-radius: 50%; */
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}

.akpCard > img {
  height: inherit;
  width: inherit;
}

/* On mouse-over, add a deeper shadow */
.akpCard:hover {
  background-color: rgba(0, 0, 0, 0.7);
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
}

.lxaCard {
    /* Add shadows to create the "card" effect */
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    width: 27.98vw;
    height: 11vw;
    /* border-radius: 50%; */
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}

.lxaCard > img {
  height: inherit;
  width: inherit;
}

/* On mouse-over, add a deeper shadow */
.lxaCard:hover {
  background-color: rgba(0, 0, 0, 0.7);s
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.bioText  {
    margin: 1.5vh;
}

.bioCard  {
  text-decoration: none;
  align-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  background-color: rgba(255,255,255,0.6);
  box-shadow: 0 4px 8px 0;
  transition: 0.3s;
  width: auto;
  min-width: 30vh;
  max-width: 70vh;
  margin: 1.5vh;
  min-height: 30px;
}



/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
    width: 20vw;
}

.pwrap{
  margin-left: 10px;
  margin-right:10px;
}


/* ANIMATIONS */
.light-up {
  -webkit-animation: light-up 0.5s both;
          animation: light-up 1s both;
}
@keyframes light-up {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

.slide-in-bottom {
	-webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2018-9-4 16:45:48
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(30vh);
            transform: translateY(30vh);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(30vh);
            transform: translateY(30vh);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2018-9-4 16:44:54
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

/* Radial Out */
.hvr-radial-out {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
  /* background: #e1e1e1; */
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(198, 235, 198);
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
    /* color: white; */
}
.hvr-radial-out:hover:before, .hvr-radial-out:focus:before, .hvr-radial-out:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);

}

.slide-out-top {
	-webkit-animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-top 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2018-9-7 14:30:28
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
}
