body, html {
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
}

.pimg1, .pimg2, .pimg3{
  /* z-index: 0; */
  position:relative;
  opacity: 0.6;
  /* background: rgba(0,0,0,0.7); */
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
}

#org1 {
background-image:url('http://static1.squarespace.com/static/566c37f2a976afcb5480fe1a/t/56a19ab71a5203cff0c1fe29/1534307982804/?format=1500w');
}

.pimg1{
  /* background: rgba(0, 0, 0, 0.7); */
  background-image:url('../img/hongkong.jpg');
  /* background-color: rgba(0,0,0,0.7); */
  min-height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;

}


.pimg2{
  background-image:url('../img/image2.jpg');
  min-height:400px;
}

.pimg3{
  background-image:url('../img/image3.jpg');
  min-height:400px;
}


ul {
    font-family:"Lato", sans-serif;
    z-index: 3;
 position: fixed; top: 0;
   width: 100%;
  list-style-type: none;
  /* margin: 5vh; */
  padding: 5vh;
  /* overflow: hidden; */
}

li {
    float: right;
    /* background-color: rgba(255, 255, 255, 1.0); */
}

li a {
    color:#000;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1;
    display: block;
    padding: 8px;

    /* background-color: #dddddd; */
}
li a:hover {
    text-decoration: none;
    background-color: #555;
    color: white;
}

.portraitWrapper{
  position: absolute;
  z-index: 2;
  width:100%;
  height: 100%;
}

.portrait {
  /* position:absolute; */
  width:100%;
  height: 100%;
    /* Add shadows to create the "card" effect */
    /* background-color: rgba(0, 0, 0, 1.0);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8); */
    transition: 0.3s;
    width: 55vh;
    height: 55vh;
    border-radius: 50%;
    margin: 30px;
}


.portrait > img {


  /* display: block; */
  height: inherit;
  width: inherit;
  border-radius: 50%;
}

.portrait:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.portraitSection {
    /* z-index: 1; */
  display: flex;
  justify-content: center;
}

.section{
  text-align:center;
  padding:50px 80px;
}

.section-light{
  background-color:#f4f4f4;
  color:#666;
}

.section-dark{
  background-color:#282e34;
  color:#ddd;
}

.ptext{
  /* position:absolute; */
  /* top:50%;
  width:100%; */
  /* background-color: rgba(0, 0, , 0.7); */
  align-content: center;
  text-align:center;
  color:#000;
  font-size:2vw;
  letter-spacing:8px;
  text-transform:uppercase;
  /* padding-top: 5vh; */
  padding-bottom:5vh;
}

.title  {
    font-size:30px;
    /* letter-spacing:5px; */
}



.titlePic{
  text-transform:uppercase;
  padding-top: 5vh;
  /* position:absolute; */
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
}
.text{
  padding-top: 5vh;
  /* position:absolute; */
  width:100%;
  text-align:center;
  color:#000;
  font-size:1.2vw;
  letter-spacing:8px;
}

.opaqueBackground{
  background-color: rgba(255, 255, 255, 0.3);
  /* z-index: -1; */
}

.textFloat{
  /* padding-top:25vh; */
  /* position:absolute; */
  /* top:40%;
  width:100%; */
  text-align:center;
  color:#000;
  font-size:16px;
  letter-spacing:8px;
}



.ptext .border{
  background-color:#111;
  color:#fff;
  padding:2vh;
  margin: 20px;
  /* background-color: rgba(0, 0, 0, 0.7); */
  /* background-color: rgba(6.7, 6.7, 6.7, 0.7); */
}

.border2{
  background-color:#111;
  color:#fff;
  padding:1vh;
  margin: 20px;
  /* background-color: rgba(6.7, 6.7, 6.7, 0.7); */
}

.ptext .border.trans{
  background-color:transparent;
}

.ptext .border.move{
  position:relative;
  background-color:transparent;
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
}


/* CARD STYLING */
.cardHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: 2vh;
}

.orgcontainer {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
  margin-bottom: 2vh;
}

.card {
    /* Add shadows to create the "card" effect */
    /* animation: scale-in-center 0.4s; */
    /* animation-name: scale-up-ver-center; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30vh;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}

.scale-up-ver-center {
	-webkit-animation: scale-up-ver-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-ver-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.akpCard {
    /* Add shadows to create the "card" effect */
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    width: 28.97vw;
    height: 11vw;

    /* border-radius: 50%; */
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}

.akpCard > img {
  height: inherit;
  width: inherit;
}

/* On mouse-over, add a deeper shadow */
.akpCard:hover {
  background-color: rgba(0, 0, 0, 0.7);
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
}

.lxaCard {
    /* Add shadows to create the "card" effect */
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    width: 27.98vw;
    height: 11vw;
    /* border-radius: 50%; */
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}

.lxaCard > img {
  height: inherit;
  width: inherit;
}

/* On mouse-over, add a deeper shadow */
.lxaCard:hover {
  background-color: rgba(0, 0, 0, 0.7);s
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}



/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
    width: 20vw;
}

.pwrap{
  margin-left: 10px;
  margin-right:10px;
}


/* ANIMATIONS */
.slide-in-bottom {
	-webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2018-9-4 16:45:48
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(30vh);
            transform: translateY(30vh);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(30vh);
            transform: translateY(30vh);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2018-9-4 16:44:54
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
